In [47]:
import pandas as pd
import numpy as np

In [51]:
match_df = pd.read_csv('matches.csv', names=['match_id','match-seq_num',\
    'R0-hero-id','R1-hero-id','R2-hero-id','R3-hero-id','R4-hero-id',\
    'D0-hero-id','D1-hero-id','D2-hero-id','D3-hero-id','D4-hero-id','win'])
match_df.tail()

,match_id,match-seq_num,R0-hero-id,R1-hero-id,R2-hero-id,R3-hero-id,R4-hero-id,D0-hero-id,D1-hero-id,D2-hero-id,D3-hero-id,D4-hero-id,win
10410,3908132980,3391338945,22,62,71,52,86,34,45,9,89,114,1
10411,3908157017,3391338948,88,101,11,51,56,8,45,82,54,108,1
10412,3908163638,3391338951,48,35,93,51,84,8,104,39,29,79,1
10413,3908166479,3391338954,23,44,62,27,2,4,74,51,31,93,0
10414,3908161536,3391338958,8,11,108,36,25,104,2,53,21,113,1

In [77]:
bench_df = pd.read_csv('benchmarks.csv',index_col = 0, names=['hero-id','gpm','xpm','kpm','lhpm','dpm','hpm','td'])
bench_df.tail()

         gpm  xpm       kpm      lhpm         dpm        hpm    td
hero-id
112      324  408  0.098684  1.520792  252.449298  75.040122   183
113      565  610  0.194265  5.681396  639.427430   0.000000  2301
114      442  557  0.194105  4.234914  472.756617   0.000000  1191
119      327  451  0.123967  1.235615  309.823389   0.000000   413
120      438  575  0.138122  4.296216  452.506997   0.000000   554

In [84]:
result_list = []
bench_dict = bench_df.to_dict('index')
for row_index, match in match_df.iterrows():
    match_join_bench = []
    for i in range(2,12):
        match_join_bench += bench_dict[match.iloc[i]].values()
    match_join_bench += [match.iloc[12]]
    result_list.append(match_join_bench)
    
result_df = pd.DataFrame(result_list)
result_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
10410,0.000000,435.0,603.0,306.0,3.548255,945.454545,0.243506,0.142721,397.0,473.0,...,216.844968,0.079190,0.000000,442.0,557.0,1191.0,4.234914,472.756617,0.194105,1
10411,0.000000,337.0,484.0,122.0,1.279070,369.930512,0.125636,0.000000,336.0,455.0,...,463.048864,0.143713,36.068376,396.0,504.0,1417.0,3.870968,441.129808,0.081549,1
10412,0.000000,550.0,641.0,5233.0,6.728538,539.269202,0.208243,0.000000,483.0,562.0,...,357.497517,0.075710,0.000000,299.0,480.0,355.0,1.496403,338.090221,0.097182,1
10413,0.000000,470.0,577.0,919.0,4.968885,491.491108,0.164835,0.000000,489.0,623.0,...,397.898972,0.137300,0.000000,503.0,632.0,1912.0,4.783394,512.801014,0.255319,0
10414,96.443868,543.0,640.0,2693.0,6.746311,492.738265,0.211921,0.000000,549.0,653.0,...,525.996929,0.205379,0.000000,565.0,610.0,2301.0,5.681396,639.427430,0.194265,1

In [85]:
train = result_df[:-4000]
test = result_df[-4000:]

In [100]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

x_train = train.drop(train.columns[len(train.columns)-1], axis=1)
y_train = train.iloc[:,70]
x_test = test.drop(test.columns[len(test.columns)-1], axis=1)
y_test = test.iloc[:,70]

x_train.shape,y_train.shape

((6415, 70), (6415,))

In [101]:
knn = KNeighborsClassifier(n_neighbors=3)
logreg = LogisticRegression()
svc = SVC()
gaussian = GaussianNB()
perceptron = Perceptron()
linear_svc = LinearSVC()
sgd = SGDClassifier()
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier(n_estimators=100)

acc = []

for mo in [knn, logreg, svc, gaussian, perceptron, linear_svc, sgd, decision_tree, random_forest]:
    mo.fit(X_train, Y_train)
    Y_pred = mo.predict(X_test)
    acc.append(round(mo.score(X_test, Y_test)*100, 2))

/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [102]:
models = pd.DataFrame({
    'Model': ['KNN', 'Logistic Regression', 'Support Vector Machines', 
              'Naive Bayes', 'Perceptron', 'Linear SVC', 
              'Stochastic Gradient Decent', 'Decision Tree', 'Random Forest'],
    'Score': acc
    })
models.sort_values(by='Score', ascending=False)

                        Model  Score
8               Random Forest  54.68
2     Support Vector Machines  53.70
1         Logistic Regression  53.15
7               Decision Tree  52.35
4                  Perceptron  51.85
5                  Linear SVC  51.68
6  Stochastic Gradient Decent  51.65
0                         KNN  51.62
3                 Naive Bayes  51.55